################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TasksProject/FileContentIndex/28b82319-da0f-4c89-806a-ddc85cae778f.vsidx
*.vsidx
